@charset "UTF-8";

:root {
    --red: #A81D1D;
    --grey-light: #4D4D4D;
    --grey1: #FAFAFA;
    --grey2: #e6e6e6;
    --grey3: #4D4D4D;
    --grey4: #262626;
    --grey5: #E5E5E5;
    --grey6: #b7b7b7;
    --grey7: #8C8C8C;
    --black: #000;
    --black2: #0c0c0c;
    --white: #fff;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

figure {
    margin-bottom:23px;
}

.container {
    padding: 0 15px;
    width:100%;
}

@media (min-width: 1326px){
    .container {
        max-width:970px;
        padding:0;
        margin:0 auto;        
    }
}

/* alinhamentos */
.mx-auto {margin: 0 auto;}

/* botões */
.btn {
    border-radius: 4px; 
    display: flex;
    width:100%; 
    border: 1px solid var(--black2);
    align-items: center;
    text-decoration: none;
    justify-content: center;
    color: var(--black2);
    cursor:pointer;
}

.btn.little {
    font-size: 13px;  
    padding:3px 5px;  
    font-weight: 300;
}

.btn.normal {
    font-size: 14px; 
    padding: 10px 10px;
    max-width: 210px;  
}

.btn.red {
    border: 1px solid var(--red);
    color: var(--red);
}

.btn.red-reverse {
    border: 0;
    color: var(--white);
    background-color: var(--red);
}

.plus {
    display:inline-block;
    width: 12px;
    height: 12px;
    background-image:url(../img/ico-plus.png);
    background-repeat: no-repeat;
    margin-left: 5px;
}

.profile {
    display:inline-block;
    width: 19px;
    height: 15px;
    background-image:url(../img/ico-profile.png);
    background-repeat: no-repeat;
    margin-left: 5px;
}