@charset "UTF-8";

/* header */
.header {
    margin-bottom: 16px;
}

@media (max-width: 1325px){

    .main {
        padding-top: 80px;
    }

    .header {
        margin-top: 16px;
        margin-bottom: 20px;
    }
    .header__ad {
        display:none;
    }

    .header__nav__menu--wrap {
        height: 48px;
        overflow-y: scroll;
    }

    .header__nav__menu {display:none;}

    .header__nav__search {display:none;}

    .header__nav__mobile {
        position:relative;
        z-index: 2;
    }

    .header__nav__mobile--active {
        position: absolute;
        bottom: 22px;
        width: 100%;
        height: 50px;
        z-index: 300;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__nav__search--active {
        display:block;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        z-index: 2;
    }

    .header__nav--container {
        display:flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        max-width: 100%;
    }

    .header__nav__menu {
        list-style:none;
        background-color: var(--black);
        position: fixed;
        top:0;
        left:0;
        width:100%;
        z-index: 1;
    }

    .header__nav__menu--active {
        padding: 55px 20px 0;
        position:absolute;
        top: 0;
    }

    .header__nav__menu--active .header__nav__menu__item {
        margin:30px 0;
    }

    .header__nav__menu--active .header__nav__menu__item--live {
        margin-top: 10px;
    }

    .header__nav__menu--active .header__nav__menu__item a {
        font-size: 16px;
        color: var(--white);
        text-decoration: none;
        display:inline-block;
    }

    .header__nav__menu--active .header__nav__menu__item.header__nav__menu__item--live a {
        background-color: var(--grey4);
        display:block;
        padding:15px;
    }

    .header__nav__menu--active .header__nav__menu__item.header__nav__menu__item--live a span:nth-child(2) {
        border:1px solid var(--white);
        display:inline-block;
        margin-left: 8px;
        padding:5px 8px;
        width:95px;
        border-radius:4px;
        position: relative;
    }

    .header__nav__menu--active .header__nav__menu__item.header__nav__menu__item--live a span:nth-child(2)::after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        background-color: var(--red);
        border-radius:50%;
        right:10px;
        top: calc(50% - 5px);
    }

    .header__nav__mobile_button {
        width: 16px;
        height: 13px;
        margin: 0;
        position: relative;
        display: inline-block;
        border:0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        text-indent:-9999px;
        background-color: transparent;
    }

    .header__nav__mobile_button::before,
    .header__nav__mobile_button::after {
        content: "";
        position: absolute;
        background: #fff;
    }

    .header__nav__mobile_button::before {
        left: 0;
        width: 100%;
        height: 1px;
        top: calc(50% - 0.5px);
    }

    .header__nav__mobile_button::after {
        opacity: 0;
        width: 1px;
        top: -1.5px;
        left: calc(50% - 1.5px);
        height: calc(100% + 3px);
    }

    .header__nav__mobile_button--active {
        border:0;
        transform: rotate(45deg);
    }

    .header__nav__mobile_button--active::after {
        opacity: 1;
    }

    .header__nav__menu--active {display:block;}

    .header__nav__search--box {
        position: absolute;
        top:0;
        left:0;
        right:0;
        height:64px;
    }

    .header__nav__search--box .header__nav__search__cta {
        position: absolute;
        border: 0;
        background-color: transparent;
        top: 2px;
        left: 10px;
        background-image: url(../img/ico-search.svg);
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -9999px;
        width: 30px;
        height: 48px;
        cursor: pointer;
    }

    .header__nav__search--active .header__nav__search__cta {
        background-image: url(../img/ico-search-active.png);
        height:64px;
    }

    .header__nav__search--active .header__nav__search--container {padding:0;}

    .header__nav__search--active .header__nav__search__field {
        background-color: var(--black2);
        height:64px;
        border:0;
        width: 100%;
        padding: 0 15px 0 44px;
        color: var(--white);
    }

}

@media (min-width: 1326px){
    .header__nav__mobile {display:none;}

    .header__nav__menu .header__nav__menu__item.header__nav__menu__item--live a span:nth-child(1) {
        display:none;
    }

}

.header__nav {
    position:relative;
}

.header__nav__logo {
    position:absolute;
    left: 10px;
    top: -15px;
}

.header__nav__logo > a {
    display:block;
    width: 80px;
    height:80px;
    border:4px solid var(--white);
    background-image:url(../img/logo-cnn-brasil.svg);
    background-repeat:no-repeat;
    text-indent:-9999px;
}

.header__nav {
    height: auto;
    background-color: var(--black);
    display:flex;
    list-style:none;
}

@media (max-width: 1326px){
    .header__nav--wrap {
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
        padding-top: 22px;
        background: #fff;
    }

    .header__nav__menu--wrap--active {
        height: 100vh;
    }

}

.header__nav__menu .header__nav__menu__item a {
    
}

@media (min-width: 1326px){
    .header__nav__menu {
        display:flex;
        gap: 0 16px;
        flex-direction: row;
        list-style:none;
    }

    .header__ad {
        padding:32px 0 40px;
    }

    .header__nav--container {
        padding-left: 116px;
        position:relative;
        max-width:1296px;
        width:100%;
    }

    .header__nav__search {
        border-bottom: 1px solid var(--grey2);
        height:48px;
    }

    .header__nav__search--container {
        display:flex;
        justify-content: flex-end;
        max-width:1303px;
        padding-right:15px;
    }

    .header__nav__search--box {
        position: relative;
    }

    .header__nav__search__field {
        background-color: var(--grey1);
        width:300px;
        padding: 0 15px 0 44px;
        height: 47px;
        border-width:1px 1px 0 1px;
        border-style: solid;
        border-color: var(--grey2);
        font-size:14px;
        color: var(--grey-light);
    }

    .header__nav__search__cta {
        border:0;
        background-color: transparent;
        position: absolute;
        top:2px;
        left:10px;
        background-image:url(../img/ico-search.svg);
        background-repeat:no-repeat;
        background-position: center center;
        text-indent: -9999px;
        width:30px;
        height:48px;
        cursor:pointer;
    }

    .header__nav__menu .header__nav__menu__item a {
        display:flex;
        color: var(--white);
        text-decoration:none;
        height: 48px;
        align-items: center;
        color: var(--grey2);
        font-size:14px;
    }

    .header__nav__menu__item--live {
        background-color: var(--grey4);
    }

    .header__nav__menu .header__nav__menu__item.header__nav__menu__item--live a {
        padding: 0 30px 0 10px;
        position:relative;
    }

    .header__nav__menu .header__nav__menu__item.header__nav__menu__item--live a::after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        background-color: var(--red);
        border-radius:50%;
        right:10px;
    }

    .header__nav__menu .header__nav__menu__item a:hover {
        color: var(--white);
    }

}


/* Banner */
.featured {
    background: rgba(250,250,250,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250,250,250,1)), color-stop(100%, rgba(168,168,168,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    background: radial-gradient(ellipse at center, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#a8a8a8', GradientType=1 );
}

.featured__wrap {
    display:flex;
    flex-direction: column;
}

@media (max-width: 1325px){
    .featured__wrap {
        padding: 40px 30px;
        align-items: center;
    }

    .featured__text {
        text-align: center;
        max-width:320px;
    }

    .featured__text__title {
        margin-bottom:15px;
    }

    .featured__pics {
        margin-top:30px;
    }

}

@media (min-width: 1326px){
    .featured__wrap {
        padding:0;
        flex-direction: row;
        align-items: center;
        height:360px;
        justify-content: space-between;
    }

    .featured__text {
        width:300px;
    }

    .featured__text__title {
        width:300px;
        margin-bottom: 22px;
    }

    .featured__text__description {
        color: var(--grey-light);
        line-height: 22px;
    }
}

/* Blog */

.main {
    background-color: var(--grey1);
}

.blog {
    padding-top: 48px;
}

.artigos {
    margin-bottom: 40px;
}



/* network */
.artigos__item {
    position:relative;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--grey5);
    background-color: var(--white);
    padding: 35px 24px;
    border-radius: 0 4px 4px 0;
    margin-bottom: 32px;
}

.artigos__item__network__title {
    color: var(--white);
    font-size: 14px;
    margin-bottom:15px;
}

.artigos__item h2 {
    color: var(--grey4);
}

.artigos__item__authors {
    margin-top: 20px;
    display:flex;
    gap: 0 10px;
    align-items: center;
}

@media (max-width: 1325px){
    .artigos__item__authors {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px 0;
    }
}

.artigos__item__authors__pics {
    display:flex;
    gap: 0 10px;
}

.artigos__item__authors__pics span {
    display:inline-block;
    width: 40px;
    height: 40px;
}

.artigos__item__authors__pics span img {
    border-radius: 50%;
    border: 1px solid var(--grey4);
}

.artigos__item__authors__names {
    font-size: 13px;
    line-height: 16px;
    color: var(--grey3);
}

.artigos__item__authors__names__data {
    color: var(--grey6);
    display:block;
}

.artigos__item__authors__names__data.inline {display:inline;}

.artigos__columns {margin-left: auto;}

@media (max-width: 1325px){
    .artigos__columns {margin-right: auto;}
}

.artigos__item__text {
    margin-top: 20px;
}

.artigos__item__text p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: var(--grey3);
}

p.artigos__item__text__pic__description {
    font-size: 13px;
    color: var(--black2);
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    margin-top:4px;
}

p.artigos__item__text__pic__font {
    font-size: 13px;
    color: var(--grey4);
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin-top:4px;
}

.artigos__item__cta {margin-top:25px;}

.artigos__item__network {
    display:flex;
    list-style:none;
    padding:0;
    margin-bottom:15px;
    gap: 0 15px;
}

.artigos__item__network__app__link {
    display:block;
}

.artigos__item::after {
    width: 8px;
    height: 100%;
    content: '';
    position: absolute;
    top:0;
    left:0;
    border-radius: 4px 0 0 4px;
    background-color: var(--red);
}

@media (min-width: 1326px){
    .blog--container {
        display:flex;
        justify-content: space-between;
    }

    .artigos {
        width: 640px;
    }

    .aside {width: 300px;}

}

/* mais lidas */

.mais-lidas__title {
    display:flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    margin-bottom:20px;
}

.mais-lidas__title i {
    display:inline-block;
    background-image:url(../img/ico-star.png);
    width:24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.mais-lidas__list {
    font-size: 14px;
    line-height: 18px;
    color: var(--grey3);
    list-style: none;
    counter-reset: li;
    margin-left: 6px;
}

.mais-lidas__list li {
    counter-increment: li;
    position: relative;
    padding-left:23px;
    margin-bottom: 18px;
}

.mais-lidas__list li::before {
    content: counter(li);
    color: var(--red);
    display: inline-block;
    width:30px;
    position: absolute;
    left: 0;
    top:0;
}

.aside__ad {
    margin: 40px 0 26px;
}

@media (max-width: 1325px){
    .aside__ad {
        text-align: center;
    }
}

.colunistas {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
}

@media (max-width: 1325px){
    .colunistas {
        width: 100%;
        max-width: 600px;
    }
}

.colunistas__header {
    color: var(--grey1);
    background-color: var(--red);
    font-size: 18px;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 8px 8px 0 0;
}

.colunistas__item {
    padding: 0 16px 25px;
    border-width: 0 1px 0 1px;
    border-color: var(--grey2);
    border-style: solid;
}

.colunistas__item:first-of-type {
    padding: 20px 16px 25px;
}

.colunistas__item:last-of-type {
    border-width: 0 1px 1px 1px;    
    border-radius: 0 0 8px 8px;
}

.colunista__author__pic img {
    border-radius: 50%;
    border: 1px solid var(--grey4);
    width: 35px;
    height: 35px;
}

.colunista__author {
    display:flex;
    align-items: center;
    gap: 0 10px;
    border-bottom: 2px solid var(--grey7);
    padding-bottom:2px;
}

.colunista__author__name {
    font-size: 14px;
    font-weight: 500;
}

.colunista__text {
    color: var(--grey4);
    font-size: 15px;
    margin-top:16px;
    line-height: 1.2;
    font-weight: 300;
}

.colunista__cta {margin-top: 20px;}


/* Assuntos do momento */
.assuntos-momento {
    font-weight: 600;
    font-size: 16px;
    width: 240px;
    margin:0 auto
}

.assuntos-momento i {
    display:inline-block;
    background-image:url(../img/ico-star.png);
    width:24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.assuntos-momento__title {
    margin-bottom: 15px;
    display:flex;
    align-items: center;
}

.assuntos-momento__tags a {
    display:inline-block;
    width: auto;
    margin:4px 2px;
}

@media (max-width: 1325px){
    .assuntos-momento {
        width: 100%;
        padding-bottom: 40px;
    }
}

/* footer */
.footer--container {
    max-width:1296px;
    width:100%;
}

.recentes {
    background-color: var(--black2);
    padding: 40px 0;
}

.recentes__title {
    margin:0;
    padding:0;
    background-image:url(../img/ico-recentes.png);
    background-repeat:no-repeat;
    width:300px;
    height:33px;
    padding-left: 63px;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    display:flex;
    align-items: center;
    margin-bottom: 25px;
}

.recentes__title span {
    display:inline-block;
    padding-bottom:3px;
    border-bottom: 1px solid var(--red);
}

@media (max-width: 1325px){
    .recentes__carousel--wrap {
        overflow-x: scroll;
    }
}

.recentes__carousel {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
}

.recentes__carousel__item {
    width: 165px;
}

.recentes__carousel__item__description {
    color: var(--white);
    text-decoration: none;
    padding-top:22px;
    display:block;
    line-height: 1.2;
}

.newsletter {
    background-color: var(--grey4);

}


.newsletter--container {
    display:flex;
    justify-content: space-between;
    height: 112px;
    align-items: center;
    max-width:1296px;
    width:100%;
}

@media (max-width: 1325px){
    .newsletter--container {
        flex-direction: column;
        height: auto;
        padding: 30px 15px;
        align-items: center;
    }

    .newsletter--wrap {
        margin-bottom:25px;
    }

    .newsletter--form {
        width: auto;
    }

}

.newsletter--wrap {
    padding-left: 52px;
    background:url(../img/ico-email-white.png) no-repeat 0 center;
}

.newsletter__title {
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
}

.newsletter__description {
    font-size: 14px;
    color: var(--white);
}

.newsletter__field {
    background-color: var(--grey-light);
    height: 36px;
    width:100%; 
    border:0;
    border-radius: 4px;
    background-image:url(../img/ico-email-white-little.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
    color: var(--white);
    font-size:14px;
}

@media (min-width: 1326px){
    .newsletter__field {
        width: 390px;
    }
}

.newsletter__field::-webkit-input-placeholder { /* Edge */
    color: var(--grey7);
}

.newsletter__field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grey7);
}

.newsletter__field::placeholder  {
    color: var(--grey7);
}

.newsletter__field__cta {
    width: 80px;
    height: 36px;
}

.newsletter--form {
    display:flex;
    gap: 0 10px;
}

.bottom {
    background-color: var(--black);
    padding-top: 48px;
    padding-bottom: 16px;
}

.bottom--container {
    max-width:1296px;
    width:100%;
    display:flex;
    flex-direction: column;
}

.bottom__menu {
    list-style:none;
}

@media (min-width: 1326px){
    .bottom--container {
        flex-direction: row;
        gap: 0 128px;
    }
}

@media (max-width: 1325px){
    .bottom__menu {
        text-align: center;
    }

    .bottom__logo {
        margin: 0 auto;
        margin-bottom:50px;
    }

    .bottom__menu__item {
        margin-bottom:15px;
    }

    .artigos__item__network--wrap {
        margin-top:50px;
        text-align: center;
    }

    .artigos__item__network {
        justify-content: center;
    }

}

.bottom__copy {
    padding-top:30px;
    border-bottom: 1px solid var(--red);
    color: var(--white);
    font-size: 14px;
    text-align: right;
    padding-bottom: 10px;
}

@media (min-width: 1326px){
    .bottom__copy--container {
        max-width:1296px;
        width:100%;
    }
}

.bottom__menu__item {
    margin-bottom:3px;
}

.bottom__menu__item__link {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
}

@media (max-width: 1325px){
    .bottom__copy {
        text-align: center;
        padding-bottom: 20px;
    }
}