@charset "UTF-8";

/* header */

.header__nav {
    position:relative;
}

.header__nav__logo {
    position:absolute;
    left: 10px;
    top: -15px;
}

.header__nav__logo > a {
    display:block;
    width: 80px;
    height:80px;
    border:4px solid var(--white);
    background-image:url(../img/logo-cnn-brasil.svg);
    background-repeat:no-repeat;
    text-indent:-9999px;
}

.header__nav {
    height: 48px;
    background-color: var(--black);
    display:flex;
    list-style:none;
}

.header__nav__menu .header__nav__menu__item a {
    
}

@media (min-width: 1326px){
    .header__nav__menu {
        display:flex;
        gap: 0 16px;
        flex-direction: row;
        list-style:none;
    }

    .header__ad {
        padding:32px 0 40px;
    }

    .header__nav--container {
        padding-left: 116px;
        position:relative;
        max-width:1296px;
        width:1296px;
    }

    .header__nav__search {
        border-bottom: 1px solid var(--grey2);
        height:48px;
    }

    .header__nav__search--container {
        display:flex;
        justify-content: flex-end;
        max-width:1303px;
        padding-right:15px;
    }

    .header__nav__search--box {
        position: relative;
    }

    .header__nav__search__field {
        background-color: var(--grey1);
        width:300px;
        padding: 0 15px 0 44px;
        height: 47px;
        border-width:1px 1px 0 1px;
        border-style: solid;
        border-color: var(--grey2);
        font-size:14px;
        color: var(--grey-light);
    }

    .header__nav__search__cta {
        border:0;
        background-color: transparent;
        position: absolute;
        top:2px;
        left:10px;
        background-image:url(../img/ico-search.svg);
        background-repeat:no-repeat;
        background-position: center center;
        text-indent: -9999px;
        width:30px;
        height:48px;
        cursor:pointer;
    }

    .header__nav__menu .header__nav__menu__item a {
        display:flex;
        color: var(--white);
        text-decoration:none;
        height: 48px;
        align-items: center;
        color: var(--grey2);
        font-size:14px;
    }

    .header__nav__menu__item--live {
        background-color: var(--grey4);
    }

    .header__nav__menu .header__nav__menu__item.header__nav__menu__item--live a {
        padding: 0 30px 0 10px;
        position:relative;
    }

    .header__nav__menu .header__nav__menu__item.header__nav__menu__item--live a::after {
        content: '';
        position: absolute;
        width: 11px;
        height: 11px;
        background-color: var(--red);
        border-radius:50%;
        right:10px;
    }

    .header__nav__menu .header__nav__menu__item a:hover {
        color: var(--white);
    }

}


/* Banner */
.featured {
    background: rgba(250,250,250,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(250,250,250,1)), color-stop(100%, rgba(168,168,168,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    background: radial-gradient(ellipse at center, rgba(250,250,250,1) 0%, rgba(168,168,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#a8a8a8', GradientType=1 );
}

.featured__wrap {
    display:flex;
}

@media (min-width: 1326px){
    .featured__wrap {
        flex-direction: row;
        align-items: center;
        height:360px;
        justify-content: space-between;
    }

    .featured__text__title {
        width:300px;
        margin-bottom: 22px;
    }

    .featured__text__description {
        color: var(--grey-light);
        line-height: 22px;
    }
}