@charset "UTF-8";

:root {
    --red: #A81D1D;
    --grey-light: #4D4D4D;
    --grey3: #4D4D4D;
    --grey4: #262626;
    --black: #000;
    --white: #fff;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

/* header */

.header__nav {
    position:relative;
}

.header__nav__logo {
    position:absolute;
    left: 10px;
    top: -15px;
}

.header__nav__logo > a {
    display:block;
    width: 80px;
    height:80px;
    border:4px solid var(--white);
    background-image:url(../img/logo-cnn-brasil.svg);
    background-repeat:no-repeat;
    text-indent:-9999px;
}

.header__nav__menu {
    height: 48px;
    background-color: var(--black);
}